body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: black;
}

h2 {
  margin: 0;
  font-size: 25px;
}

p {
  line-height: 20px;
  margin: 30px 30px;
}

button {
  border-radius: 10px;
  padding: 20px;
  outline: none;
  cursor: pointer;
}

footer {
  border-top: 1px solid #FFFF;
  height: 50px;
  margin-top: 30px;
}

.header-info {
  width: 100%;
  border-bottom: 1px solid #FFF;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search-field {
  display: flex;
  margin-right: 100px;
}

.sr-image {
  width: 300px;
  height: auto;
}

.search-input {
  outline: none;
  margin-right: 16px;
  border: none;
  font-size: 14px;
  width: 450px;
  padding-left: 15px;
}

.image-box {
  width: 256px;
  height: 256px;
  margin: 0;
}

.radioPlayer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.Station {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
  text-align:center;
}

.image-box {
  width: 100%;
  object-fit: contain;
}

.audio-player {
  display: flex;
  justify-content: center;
  height: 80px;
}
@media (min-width: 600px) and (max-width: 900px){
  .Station {
    width: calc(50% - 20px);
  }
  .search-field {
    margin-left:20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .header-info {
    display: flex;
    justify-content: center;
  }

  .Station {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .search-input {
    width: 250px;
  }
  .search-field {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
